:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #f5f5fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  width: 25%;
  background: linear-gradient(to right, #efc7ff, #e2ebff);

  /* background-color: white; */
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  border-top: 10px solid rgb(172, 228, 234);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Style for the input field */
input[type='text'],
input[type='date'],
input[type='email'],
input[type='number'] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
.main {
  display: flex;
  flex-direction: row;
}

body {
  /* display: flex; */
  /* justify-content: center; */

  width: 85%;
}

/* Style for the rounded image container */
.rounded-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%;
  width: 300px;

  overflow: hidden; */
}

/* Style for the image */
.rounded-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

button {
  display: flex;
  justify-content: center;
  background-color: #3498db;
  color: #ffffff;
  padding: 6px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.deco {
  height: 12px;
  /* background-color: yellowgreen; */
}

button {
  width: 100px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  /* width: 500px; */
  padding: 10px;
  border-radius: 10px;
  color: rgb(34, 34, 34);
  /* background-color: rgb(66, 66, 66); */
}
p {
  margin: 5px;
}

.personal-name {
  font-size: x-large;
  font-weight: bold;
}

.personal-info {
  background-color: rgb(225, 242, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-left: 5px solid black;
}

i {
  padding: 10px;
}

#college-name {
  font-size: 30px;
  font-weight: bold;
}

.info-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: black;
  color: white;
  width: 300px;
  padding: 2px;
  border-radius: 10px;
}

.side-button {
  background-color: rgb(255, 255, 255);
  color: #333;
  width: 90%;
  margin: 5px;
  padding: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);

  transition: border 0.2s ease-in-out;
}
.side-button:hover {
  border: 0.5px solid rgb(167, 167, 167);
  background-color: white;
}
