:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Style for the input field */
input[type='text'],
input[type='date'],
input[type='email'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
.main {
  display: flex;
  flex-direction: row;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  width: 75%;
}

/* Style for the rounded image container */
.rounded-image {
  border-radius: 50%;
  /* overflow: hidden; */
}

/* Style for the image */
.rounded-image img {
  border-radius: 50%;
  width: 300px;
  height: auto;
}

button {
  display: flex;
  justify-content: center;
  background-color: #3498db;
  color: #ffffff;
  padding: 6px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.deco {
  height: 12px;
  /* background-color: yellowgreen; */
}

button {
  width: 100px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 52, 55);
  /* width: 500px; */
  padding: 10px;
  border-radius: 10px;
  color: white;
  /* background-color: rgb(66, 66, 66); */
}
p {
  margin: 5px;
}

.personal-name {
  font-size: x-large;
  font-weight: bold;
}

.personal-info {
  background-color: rgb(225, 242, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-left: 5px solid black;
}

i {
  padding: 10px;
}

#college-name {
  font-size: 30px;
  font-weight: bold;
}

.info-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: black;
  color: white;
  width: 300px;
  padding: 2px;
  border-radius: 10px;
}
